fastapi==0.115.6
uvicorn[standard]==0.34.0
websockets==14.1
pillow==11.0.0
pillow-heif==0.20.0
imagehash==4.3.1
faiss-cpu==1.9.0.post1
onnxruntime==1.19.2
numpy
opencv-python-headless
openai==1.57.0
send2trash==1.8.3
pymupdf==1.25.1
python-multipart==0.0.17
pydantic==2.10.3
